includes:
    - vendor/radek-bruha/coding-standard/src/ruleset.neon
    - vendor/phpstan/phpstan/conf/bleedingEdge.neon

parameters:
    ignoreErrors:
        - '#Expression ".+" on a separate line does not do anything#'
